[submodule "glm"]
    path = vendor/glm
    url = https://github.com/g-truc/glm

[submodule "spdlog"]
    path = vendor/spdlog
    url = https://github.com/gabime/spdlog

[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw

[submodule "vendor/entt"]
	path = vendor/entt
    url = https://github.com/skypjack/entt

[submodule "vendor/json"]
	path = vendor/json
    url = https://github.com/nlohmann/json

[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
